/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height and padding for navbar */
  margin-bottom: 60px;
  padding-top: 52px;
}
.footer {
  position:fixed;
  display: table-row;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  min-height:90px;
  background-color: #e4e4e4;
  border-radius: 9px;
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
}

div.vertical {
    width: 320px;
    height: 80px;

    float:right;
    margin:5px 0 0 40px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  position: absolute;
  padding: 0 0 0;
  width: 100%;
}
.container .text-muted {
  margin: 20px 0;
}

.explorer{
  position: relative;
  padding: 0 40px;
  min-width: 800px;
  max-height: 180px;
}

.drop{
  width:180px;
  height:30px;

  position:relative;
  float:left;
  margin: 30px 0;
  background-color: #ffffff;
  color: #777777;
  outline: none;
  border-radius: 7px;
  -webkit-border-radius:7px;
  -moz-appearance: none;
  -moz-outline: none;


  border: 0;
}

.drop1{
  width:80px;
  height:30px;

  float:right;
  margin: 30px 0 30px 10px;
  background-color: #ffffff;
  color: #777777;
  outline: none;
  border-radius: 7px;
  -webkit-border-radius:7px;
  -moz-appearance: none;
  -moz-outline: none;

  border: 0;
}

.drop:hover, .drop1:hover, .drop2:hover{
  background-color: #f5f5f5;
  -webkit-transition: all 80ms linear;
  -moz-transition: all 80ms linear;
  -ms-transition: all 80ms linear;
  -o-transition: all 80ms linear;
  transition: all 80ms linear;
}


.drop2{
  width:80px;
  height:30px;

  float:right;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #ffffff;
  color: #777777;
  outline: none;
  border-radius: 7px;
  -webkit-border-radius:7px;
  -moz-appearance: none;
  -moz-outline: none;

  border: 0;

}

#player{
  width:100%;
  height:auto;
}

canvas {
  width: 100%;
  height: auto;
}

code {
  font-size: 80%;
}
