/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height and padding for navbar */
  margin-bottom: 60px;
  padding-top: 52px;
}
.footer {
  position:fixed;
  display: table-row;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  min-height:90px;
  background-color: #e4e4e4;
  border-radius: 9px;
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
}

div.vertical {
    width: 320px;
    height: 80px;

    float:right;
    margin:5px 0 0 40px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  position: absolute;
  padding: 0 0 0;
  width: 100%;
}
.container .text-muted {
  margin: 20px 0;
}

.explorer{
  position: relative;
  padding: 0 40px;
  min-width: 800px;
  max-height: 180px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.drop{
  width:180px;
  height:30px;

  position:relative;
  float:left;
  margin: 30px 0 30px 10px;
  background-color: #ffffff;
  color: #777777;
  outline: none;
  border-radius: 7px;
  -webkit-border-radius:7px;
  -moz-appearance: none;
  -moz-outline: none;

  border: 0;
}

.manager{
  width:10px;
  height:30px;

  position:relative;
  float:left;
  margin: 30px 0 30px 10px;
  background-color: #ffffff;
  color: #777777;
  outline: none;
  border-radius: 7px;
  -webkit-border-radius:7px;
  -moz-appearance: none;
  -moz-outline: none;

  border: 0;
}

.drop1{
  width:80px;
  height:30px;

  float:right;
  margin: 30px 0 30px 10px;
  background-color: #ffffff;
  color: #777777;
  outline: none;
  border-radius: 7px;
  -webkit-border-radius:7px;
  -moz-appearance: none;
  -moz-outline: none;

  border: 0;
}

.drop:hover, .drop1:hover, .drop2:hover, .manager:hover{
  background-color: #f5f5f5;
}

.drop, .drop1, .drop2, .manager{
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.drop2, .drop0{
  width:80px;
  height:30px;

  float:right;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #ffffff;
  color: #777777;
  outline: none;
  border-radius: 7px;
  -webkit-border-radius:7px;
  -moz-appearance: none;
  -moz-outline: none;

  border: 0;

}

#player{
  width:100%;
  height:auto;
}

canvas {
  width: 100%;
  height: auto;
}

code {
  font-size: 80%;
}
